pre{
  background-color: transparent;
  border: 1px solid #696969;
  border-radius: 0;
  color: #696969;
  overflow: visible;
}
pre.r{
  background-color: #E6F3F0;
  border: none;
  border-radius: 0;
  overflow: visible;
}
hr {
  height: 6px;
  border-top: 4px solid #29AB87;
  overflow: visible;
}
code {
  background-color: #f5eef6;
  overflow: visible;
}

